* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Cormorant Garamond", sans-serif;
  letter-spacing: 0.08rem;
}

a {
  text-decoration: none;
}

body {
  background-color: #111113;
  height: 100vh;
  color: #ddd;
  line-height: 1.4;
}

/* Navbar */

.navbar-container {
  width: 100%;
  background-color: #27170d;
  background: linear-gradient(
    to bottom,
    #111113 70%,
    #b89b4c 99%,
    #c6a85a 100%
  );
  display: flex;
  justify-content: space-around;
  color: rgba(249, 192, 67, 0.7);
  margin-bottom: 80px;
}

.navbar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.navbar-logo-container > img {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}

.navbar-title-container {
  display: flex;
  flex-direction: column;
}

.navbar-title-container > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(249, 192, 67, 1);
}

.navbar-title-container > p {
  font-size: 1.15rem;
}

.navbar-items-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
}

.navbar-items-container > li {
  padding: 10px;
  border-radius: 8px;

  border: none;
  transition: border ease-out 500ms;
}

.navbar-items-container > li > a {
  font-size: 1.25rem;
  font-weight: 550;
  color: #ddd;
}

.navbar-items-container > li:hover {
  border: 1px solid #c6a85a;
}

/* Build Planner */

.build-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

/* Equipment */

.equipment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 800px;
  max-width: 1000px;
  height: 100%;
  width: 100%;
  padding: 16px;
  gap: 20px;
}

.equipment-container > h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #c6a85a;
  margin-bottom: 20px;
}

.equipment-container .equipment-content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.equipment-container .equipment-content .equipment-character {
  height: 500px;
  width: 500px;
  background-image: url(./images/player.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(0) drop-shadow(0 0 25px rgba(212, 175, 55, 0.8));
}

.equipment-container .equipment-content .equipment-items-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(80, 120px));
  gap: 12px;
  grid-template-areas:
    "weapon1 weapon2 weapon3 ."
    "ranged1 ranged2 ranged3 ."
    "head chest arms legs"
    "talisman1 talisman2 talisman3 talisman4";
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item {
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.1) 22%,
    rgba(120, 100, 100, 0.5) 52%,
    rgba(200, 150, 40, 0.6) 100%
  );
  border: 1px solid #b89b4c;
  width: 120px;
  height: 120px;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.weapon-slot1 {
  grid-area: weapon1;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.weapon-slot2 {
  grid-area: weapon2;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.weapon-slot3 {
  grid-area: weapon3;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.ranged-slot1 {
  grid-area: ranged1;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.ranged-slot2 {
  grid-area: ranged2;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.ranged-slot3 {
  grid-area: ranged3;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.head-armor-slot {
  grid-area: head;
}
.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.chest-armor-slot {
  grid-area: chest;
}
.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.arms-armor-slot {
  grid-area: arms;
}
.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.legs-armor-slot {
  grid-area: legs;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.talisman-slot1 {
  grid-area: talisman1;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.talisman-slot2 {
  grid-area: talisman2;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.talisman-slot3 {
  grid-area: talisman3;
}

.equipment-container
  .equipment-content
  .equipment-items-container
  .equipment-item.talisman-slot4 {
  grid-area: talisman4;
}

/* Attributes & Leveling */

.attributes-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.1) 22%,
    rgba(120, 100, 100, 0.5) 52%,
    rgba(200, 150, 40, 0.6) 100%
  );
  border: 1px solid #b89b4c;
}

.attributes-container > .attribute-container {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  padding: 12px;
  gap: 15px;
  color: #c6a85a;
}

.attributes-container > .starting-class-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  padding: 12px;
  gap: 15px;
  color: #c6a85a;
}

.attributes-container > .starting-class-container > .starting-class-label {
  font-size: 2rem;
  font-weight: 300;
  width: 250px;
}

.attributes-container > .starting-class-container > .starting-class-selector {
  position: relative;
  border: none;
  background: none;
  appearance: none;
  width: 150px;
  color: #c6a85a;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.attributes-container
  > .starting-class-container
  > .starting-class-selector
  > .starting-class-list {
  position: absolute;
  top: 0;
  list-style: none;
  max-height: 50px;
  overflow: hidden;
  transition: max-height 500ms;
}

.attributes-container
  > .starting-class-container
  > .starting-class-selector
  > .starting-class-list
  > .starting-class-option {
  height: 50px;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  border-radius: 8px;
  transition:
    border 0.3s,
    background-color 0.5s;
}

.attributes-container
  > .starting-class-container
  > .starting-class-selector
  > .starting-class-list
  > .starting-class-option.selected:hover {
  border: 2px solid rgba(212, 175, 55, 0.8);
  background-color: rgba(10, 10, 10, 0.8);
  border: 2px solid rgba(212, 175, 55, 0.8);
  cursor: pointer;
}

.attributes-container
  > .starting-class-container
  > .starting-class-selector.active
  > .starting-class-list {
  max-height: 600px;
  overflow: visible;
  background-color: rgba(10, 10, 10, 0.8);
  border: 2px solid rgba(212, 175, 55, 0.8);
  border-radius: 8px;
  color: #b89b4c;
}

.attributes-container
  > .starting-class-container
  > .starting-class-selector.active
  > .starting-class-list
  > .starting-class-option:hover {
  border: none;
  text-decoration: underline #c6a85a;
  color: #ceca91;
  cursor: pointer;
}

.attributes-container > .attribute-container > .attribute-name {
  font-size: 2rem;
  font-weight: 500;
  width: 250px;
  text-align: left;
}

.attributes-container > .attribute-container > p {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.attributes-container > .attribute-container > i {
  font-size: 2.5rem;
}

.attributes-container > .attribute-container > i:hover {
  cursor: pointer;
  color: #ceca91;
}

/* Summary */

.summary-container {
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.1) 22%,
    rgba(120, 100, 100, 0.5) 52%,
    rgba(200, 150, 40, 0.6) 100%
  );
  border: 1px solid #b89b4c;
  padding: 18px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #c6a85a;
}

.summary-container > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}

.summary-container > p {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.summary-container > p > span {
  color: #ceca91;
  font-weight: 300;
  font-size: 1.5rem;
}
